ChatterBot
chatterbot-corpus
spacy
SQLAlchemy
pytz
pyYAML
python-dateutil
pint
mathparse

# After installing spaCy, run the following command to download the model:
# python -m spacy download en_core_web_sm
